.MuiDataGrid-columnHeaders {
  color: #11142d !important;
  font-size: 11.898px !important;
  font-weight: 500 !important;
  background: #f3f0f0 !important;
}

.MuiDataGrid-root .MuiDataGrid-container {
  background: #f3f0f0 !important;
}

.MuiDataGrid-root {
  border: 1px solid var(--shadow, #e3e6ec);
  border-radius: 0px !important;
  overflow: hidden !important;
  width: 100% !important;
  min-width: 750px !important;
}

.MuiDataGrid-columnSeparator {
  display: none !important;
}

.MuiDataGrid-row:focus {
  outline: none !important;
  border: none !important;
}

.MuiDataGrid-row {
  color: var(--Gray-600, #475467);
  font-size: 13.882px;
  line-height: 19.831px;
}

.MuiDataGrid-rowSelected {
  outline: none !important;
  border: none !important;
}

.MuiDataGrid-columnHeaderTitleContainer {
  justify-content: center !important;
}

.MuiDataGrid-container--top [role="row"],
.MuiDataGrid-container--bottom [role="row"] {
  background: #f3f0f0 !important;
}

.MuiDataGrid-cell--textLeft {
  text-align: center !important;
  justify-content: center !important;
  align-items: center !important;
  display: flex !important;
}

.MuiDataGrid-root .MuiDataGrid-columnHeaders {
  background-color: #f3f0f0 !important;
}